.header {
  color: white;
  object-fit: fill;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
.banner-contents {
  padding-top: 150px;
  margin-left: 50px;
  width: 45%;
}
@media only screen and (max-width: 500px) {
  .banner-contents {
    height: 80px;
  }
  .header {
    padding-top: -150px;
  }
}
